main {
    min-height: calc(100vh - 160px);
}

.img-result{
  border: 1px solid rgb(65, 0, 187); /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 4px; /* Some padding */
  width: 150px; /* Set a small width */
}

.result{
  text-align: center;
  display: block;
}